  <!-- START CONTENT FRAME -->
                <div class="content-frame">                                    
                    < <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-users"></span> CS Team List <small></small></h2>
                </div>
                <!-- END PAGE TITLE -->                
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Use search to find tema members. You can search by: name.</p>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <span class="fa fa-search"></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Who are you looking for?"/>
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-primary">Search</button>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </form>                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="row">
                  
                        <div class="col-md-3">
                            <!-- CONTACT ITEM -->
                            <div class="panel panel-default">
                                <div class="panel-body profile">
                                    <div class="profile-image">
                                        <img src="assets/images/users/user15.jpg" alt="Dmitry Ivaniuk"/>
                                    </div>
                                    <div class="profile-data">
                                        <div class="profile-data-name">Dmitry Ivaniuk</div>
                                        <div class="profile-data-title">Team Lead CS</div>
                                    </div>
                                    
                                </div>                                
                                <div class="panel-body">                                    
                                    <p>
                                        <a href="#/viewProfile" class="btn btn-info btn-rounded">View Profile</a>
                                        <button type="button" class="btn btn-default btn-rounded">Analyse Coversatio</button>
                                    </p>
                                </div>                                
                            </div>
                            <!-- END CONTACT ITEM -->
                        </div>
                       
                            <!-- END CONTACT ITEM -->
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="pagination pagination-sm pull-right push-down-10 push-up-10">
                                <li class="disabled"><a href="#">«</a></li>
                                <li ><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="active"><a href="#">4</a></li>                                    
                                <li><a href="#">»</a></li>
                            </ul>                            
                        </div>
                    </div>

                </div>
                </div>
                <!-- END CONTENT FRAME -->
