<!-- START WIDGETS -->                    
                    <div class="row">
                        
                        <div class="col-md-3">
                            
                            <!-- START WIDGET CAR -->
                            <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
                                <div class="widget-item-left">
                                    <span class="fa fa-car"></span>
                                </div>                             
                                <div class="widget-data">
                                    <div class="widget-int num-count">10%</div>
									<div class="widget-subtitle">Users have already taken</div>
                                    <div class="widget-title">Auto Loans</div>
                                    
                                </div>      
                                <div class="widget-controls">                                
                                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                                </div>
                            </div>                            
                            <!-- END WIDGET CAR -->
                            
                        </div>
                        <div class="col-md-3">
                            
                            <!-- START WIDGET HOME -->
                            <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
                                <div class="widget-item-left">
                                    <span class="fa fa-home"></span>
                                </div>                             
                                <div class="widget-data">
                                    <div class="widget-int num-count">25%</div>
									<div class="widget-subtitle">Users have already taken</div>
                                    <div class="widget-title">Home Loans</div>
                                </div>      
                                <div class="widget-controls">                                
                                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                                </div>
                            </div>                            
                            <!-- END WIDGET HOME -->
                            
                        </div>
						<div class="col-md-3">
                            
                            <!-- START WIDGET PERSONAL -->
                            <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
                                <div class="widget-item-left">
                                    <span class="fa fa-user"></span>
                                </div>                             
                                <div class="widget-data">
                                    <div class="widget-int num-count">15% </div>
									<div class="widget-subtitle">Users have already taken</div>
                                    <div class="widget-title">Personal Loans</div>
                                </div>      
                                <div class="widget-controls">                                
                                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                                </div>
                            </div>                            
                            <!-- END WIDGET PERSONAL -->
                            
                        </div>
						<div class="col-md-3">
                            
                            <!-- START WIDGET PAYDAY -->
                            <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
                                <div class="widget-item-left">
                                    <span class="fa fa-money "></span>
                                </div>                             
                                <div class="widget-data">
                                    <div class="widget-int num-count">40%</div>
									<div class="widget-subtitle">Users have already taken</div>
                                    <div class="widget-title">Payday Loans</div>
                                </div>      
                                <div class="widget-controls">                                
                                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                                </div>
                            </div>                            
                            <!-- END WIDGET PAYDAY -->
                            
                        </div>
                    </div>
                    <!-- END WIDGETS -->   
					
					 <div class="row">
                        <div class="col-md-6">
                        	
							<!-- START PRIMARY PANEL -->
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Stats By Loans Taken</h3>
                                </div>
                                <div class="panel-body">
                                <canvas id="base" class="chart-base" chart-type="type"
							  chart-data="data" chart-labels="labels" chart-legend="false" chart-click="onClick">
							</canvas> 
							 
                                </div>
                                <div class="panel-footer">
                                    * count of users by Loans taken
                                   
                                </div>                            
                            </div>
                            <!-- END PRIMARY PANEL -->
                            </div>
                            
                             <div class="col-md-6">
                        	
							<!-- START PRIMARY PANEL 2-->
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Stats By Credit Score </h3>
                                </div>
                                <div class="panel-body">
                                <canvas id="doughnut" class="chart chart-doughnut"
								  chart-data="dataScores" chart-labels="labelsScores" chart-click="onClick">
								</canvas> 
								(> 750 : Excellent , 700-749 : Good , 650-699 : Fair , 600-649 : Poor , < 600 : Bad)
                                </div>
                                <div class="panel-footer">
                                    * count of users by Credit Score
                                   
                                </div>                            
                            </div>
                            <!-- END PRIMARY PANEL 3 -->
                            </div>
                            </div>