<!-- PAGE CONTENT WRAPPER -->
<!-- START CONTENT FRAME -->
<div class="content-frame">
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-3">
            
           <div class="celebrity">
                <div class="avatar text-right img-circle">
                    <div class="second-border img-circle">
                        <div class="third-border img-circle">
                            <img src="assets/images/users/user15.jpg"
                                class="cel_image celebrity revealed">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <p class="avatar-name">Dmitry Ivaniuk</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="page-content-wrap">
                <div class="row">
                    <div class="col-md-12">
                <div class="nav" style="margin-top:40px;">
                        <ul class="nav nav-tabs">
                            <li class="active" ng-class="{active:isActive('/viewProfile')}">
                                <a data-toggle="tab" showtabref="" href="#viewProfile" aria-expanded="true">Personality Summary</a>
                            </li>
                            <li ng-class="{active:isActive('/personality')}">
                                <a data-toggle="tab" showtabref="" href="#personality" aria-expanded="true">Representatives</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="viewProfile" class="tab-pane active" style="background-color: white;">
                                <img src="assets/images/users/result.jpg" alt="Personality result"/>
                            </div>
                            <div id="personality" class="tab-pane" style="background-color: white;">
                                <style scoped>
                                    @import "css/profile.css";
                                </style>
                                
                                <div id="representativeMatching2" class="">
                                    <div class="panel-main" >
                                    	<br />
                                    	<br />
                                    	<br />
                                        
                                        <div class="row trait-row">
                                            <div class="col-md-3">
                                                <p class="text-right " style="color: #1cc665;">Curious</p>
                                            </div>
                                            <div class="col-md-3 col-md-push-6">
                                                <p class="text-left"  style="color: #0098ff;">Cautious</p>
                                            </div>
                                            <div class="col-md-6 col-md-pull-3">
                                                <div class="measuring-bar">
                                                    <div class="point mep" style="left: calc(95.88543668847346%)"></div>
                                                    <div style="left: calc(93.63739084450813%);"
                                                        class="point celebrityp" id="trait_Openness"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row trait-row">
                                            <div class="col-md-3">
                                                <p class="text-right"  style="color: #1cc665;">Easy Going</p>
                                            </div>
                                            <div class="col-md-3 col-md-push-6">
                                                <p class="text-left"  style="color: #0098ff;">Organized</p>
                                            </div>
                                            <div class="col-md-6 col-md-pull-3">
                                                <div class="measuring-bar">
                                                    <div class="point mep" style="left: calc(75.71468446579183%)"></div>
                                                    <div style="left: calc(81.30245765812634%);"
                                                        class="point celebrityp" id="trait_Conscientiousness"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row trait-row">
                                            <div class="col-md-3">
                                                <p class="text-right"  style="color: #1cc665;">Reserved</p>
                                            </div>
                                            <div class="col-md-3 col-md-push-6">
                                                <p class="text-left"  style="color: #0098ff;">Outgoing</p>
                                            </div>
                                            <div class="col-md-6 col-md-pull-3">
                                                <div class="measuring-bar">
                                                    <div class="point mep" style="left: calc(8.446599886207846%)"></div>
                                                    <div style="left: calc(7.331591280840498%);"
                                                        class="point celebrityp" id="trait_Extraversion"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row trait-row">
                                            <div class="col-md-3">
                                                <p class="text-right" style="color: #1cc665;">Confident</p>
                                            </div>
                                            <div class="col-md-3 col-md-push-6">
                                                <p class="text-left"  style="color: #0098ff;">Sensitive</p>
                                            </div>
                                            <div class="col-md-6 col-md-pull-3">
                                                <div class="measuring-bar">
                                                    <div class="point mep" style="left: calc(3.602633127826323%)"></div>
                                                    <div style="left: calc(5.975931623008857%);"
                                                        class="point celebrityp" id="trait_Agreeableness"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row trait-row">
                                            <div class="col-md-3">  
                                                <p class="text-right" style="color: #1cc665;">Analytical</p>
                                            </div>
                                            <div class="col-md-3 col-md-push-6">
                                                <p class="text-left" style="color: #0098ff;">Compassionate</p>
                                            </div>
                                            <div class="col-md-6 col-md-pull-3">
                                                <div class="measuring-bar">
                                                    <div class="point mep" style="left: calc(18.69698020451129%)"></div>
                                                    <div style="left: calc(21.71152017288999%);"
                                                        class="point celebrityp" id="trait_Neuroticism"></div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                        <!-- TAGS LIST -->
                        <div class="col-md-12">
                            <div class="panel panel-default push-up-20">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Can handle Customers</h3>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-tags">
                                        <li><a href="#"><span class="fa fa-tag"></span> Curious</a></li>
                                        <li><a href="#"><span class="fa fa-tag"></span> Easy Going</a></li>
                                        <li><a href="#"><span class="fa fa-tag"></span> Reserved</a></li>
                                        <li><a href="#"><span class="fa fa-tag"></span> Analytical</a></li>
                                        <li><a href="#"><span class="fa fa-tag"></span> Sensitive</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- END TAGS LIST -->
                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- ./ nav tabs-->
                    </div>
                </div>
            </div>
            </div>                         
        </div>
</div>
</div>
</div>
<!-- BLUEIMP GALLERY -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<!-- END BLUEIMP GALLERY --> 
<!-- <script>            
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event,onclosed: function(){
                setTimeout(function(){
                    $("body").css("overflow","");
                },200);                        
            }},
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
</script> -->






