<!-- START CONTENT FRAME -->
<div class="content-frame">
    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">                    
            <h2><span class="fa fa-file-text"></span> Message</h2>
        </div>                                                                                
        <div class="pull-right">                                                                                    
            <button class="btn btn-default"><span class="fa fa-print"></span> Print</button>
            <button class="btn btn-default content-frame-left-toggle"><span class="fa fa-bars"></span></button>
        </div>                        
    </div>
    <!-- END CONTENT FRAME TOP -->
    
    <!-- START CONTENT FRAME LEFT -->
    <div class="content-frame-left">
        <div class="block">
            <a href="pages-mailbox-compose.html" class="btn btn-danger btn-block btn-lg"><span class="fa fa-edit"></span> COMPOSE</a>
        </div>
        <div class="block">
            <div class="list-group border-bottom">
                <a href="#/complaints" class="list-group-item"><span class="fa fa-inbox"></span> Inbox <span class="badge badge-success">3</span></a>
                <a href="#" class="list-group-item"><span class="fa fa-star"></span> Starred <span class="badge badge-warning">6</span></a>
                <a href="#" class="list-group-item"><span class="fa fa-rocket"></span> Sent</a>
                <a href="#" class="list-group-item"><span class="fa fa-flag"></span> Flagged</a>
                <a href="#" class="list-group-item"><span class="fa fa-trash-o"></span> Deleted <span class="badge badge-default">1.4k</span></a>                            
            </div>                        
        </div>
        <div class="block">
            <h4>Labels</h4>
            <div class="list-group list-group-simple">                                
                <a href="#" class="list-group-item"><span class="fa fa-circle text-success"></span> Clients</a>
                <a href="#" class="list-group-item"><span class="fa fa-circle text-warning"></span> Social</a>
                <a href="#" class="list-group-item"><span class="fa fa-circle text-danger"></span> Work</a>
                <a href="#" class="list-group-item"><span class="fa fa-circle text-info"></span> Family</a>
                <a href="#" class="list-group-item"><span class="fa fa-circle text-primary"></span> Friends</a>
            </div>
        </div>
    </div>
    <!-- END CONTENT FRAME LEFT -->
    <!-- START CONTENT FRAME BODY -->
    <div class="content-frame-body" ng-repeat="mail in emails" ng-if="mail.msgId===selectedMailId">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left">
                    <img src="assets/images/users/user2.jpg" class="panel-title-image" alt="John Doe"/>
                    <h3 class="panel-title">{{mail.sender}} <small>{{mail.mailid}}</small></h3>
                </div>
                <div class="pull-right">
                    <button class="btn btn-default"><span class="fa fa-mail-reply"></span></button>
                    <button class="btn btn-default"><span class="fa fa-warning"></span></button>
                    <button class="btn btn-default"><span class="fa fa-trash-o"></span></button>                                    
                </div>
            </div>
            <div class="panel-body">
                <h3>{{mail.subject}} <small class="pull-right text-muted"><span class="fa fa-clock-o"></span>{{mail.date}}</small></h3>
                <div ng-bind-html="trustHtml(mail.text)"></div>
                <div class="form-group push-up-20">
                    <label>Quick Reply</label>
                    <textarea class="form-control summernote_lite" rows="3" placeholder="Click to get editor"></textarea>
                </div>
            </div>
            <div class="panel-body panel-body-table">
                <h6>Attachments</h6>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th width="50">type</th><th>name</th><th width="100">size</th>
                    </tr>
                    <tr>
                        <td><span class="label label-primary">IMG</span></td><td><a href="#">Screen-Shot-1.jpg</a></td><td>54 Kb</td>
                    </tr>
                    <tr>
                        <td><span class="label label-success">Audio</span></td><td><a href="#">Recording1.mov</a></td><td>15 Kb</td>
                    </tr>                                    
                                                      
                </table>
            </div>
            <div class="panel-footer">
                &nbsp;&nbsp;<button type="button" class="btn btn-primary mb-control"  data-toggle="modal" data-target="#analyseModal" data-box="#message-box-success" ng-click="getAnalysedData(mail.text)"><span class="fa fa-eye"></span>Analyse</button> 
                &nbsp;&nbsp;<button class="btn btn-success pull-right"><span class="fa fa-mail-reply"></span> Post Reply</button>
            </div>
        </div>
    </div>
    <!-- END CONTENT FRAME BODY -->
</div>
    <!-- END CONTENT FRAME -->     
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>                    
                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="analyseModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Analyse Data</h4>
            </div>
            <div class="modal-body">
                <div class="chart-holder" id="analysePieChart"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>